In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from matplotlib import rc
rc('font', family='Malgun Gothic') # 한글 폰트
plt.rcParams['axes.unicode_minus'] = False # 마이너스 부호출력 설정
plt.rc('font', size=16)

import warnings
warnings.filterwarnings('ignore')

In [2]:
import seaborn as sns

In [116]:
df = pd.read_csv('./병무청머시기.csv')

In [117]:
df.head()

    bmi      학력   지역  전체 카운트  전단계 카운트  당뇨 카운트
0  비만체중  4년제 미만  지역1   40394    24642     899
1   NaN     NaN  지역2   28907    16224     977
2   NaN     NaN  지역3   46433    24057    1535
3   NaN     NaN  지역4   44722    22216    1195
4   NaN     NaN  지역5   37825    20852    1376

In [118]:
df.loc[:11, ['bmi']] = '비만체중'

In [119]:
df.loc[12:, ['bmi']] = '정상체중'

In [120]:
df.loc[:5, ['학력']] = '4년제 미만'

In [121]:
df.loc[6:11, ['학력']] = '4년제 이상'

In [122]:
df.loc[12:17, ['학력']] = '4년제 미만'

In [123]:
df.loc[18:, ['학력']] = '4년제 이상'

* 전단계를 정상과 바꿔적음을 확인하여 수정한 부분

In [124]:
df['진짜 전단계'] = df['전체 카운트'] - df['전단계 카운트'] - df['당뇨 카운트']

In [125]:
df.drop(columns=['전단계 카운트'], inplace=True)

In [126]:
df

     bmi      학력   지역  전체 카운트  당뇨 카운트  진짜 전단계
0   비만체중  4년제 미만  지역1   40394     899   14853
1   비만체중  4년제 미만  지역2   28907     977   11706
2   비만체중  4년제 미만  지역3   46433    1535   20841
3   비만체중  4년제 미만  지역4   44722    1195   21311
4   비만체중  4년제 미만  지역5   37825    1376   15597
5   비만체중  4년제 미만  지역6   14255     308    4680
6   비만체중  4년제 이상  지역1   46050     636   14918
7   비만체중  4년제 이상  지역2   33326     717   12407
8   비만체중  4년제 이상  지역3   39072     811   16523
9   비만체중  4년제 이상  지역4   57306     948   26762
10  비만체중  4년제 이상  지역5   45088    1001   20331
11  비만체중  4년제 이상  지역6   19627     240    7078
12  정상체중  4년제 미만  지역1   34984     246   10419
13  정상체중  4년제 미만  지역2   25033     301    8533
14  정상체중  4년제 미만  지역3   40624     512   15000
15  정상체중  4년제 미만  지역4   37151     375   16183
16  정상체중  4년제 미만  지역5   32487     461   15782
17  정상체중  4년제 미만  지역6   12883      74    5343
18  정상체중  4년제 이상  지역1   43031     209   11079
19  정상체중  4년제 이상  지역2   31486     306    9825
20  정상체중  4년제 이상  지역3   35971     343   12579
21  정상체중  4년제 이상  지역4   51541     390   21365
22  정상체중  4년제 이상  지역5   42933     434   20148
23  정상체중  4년제 이상  지역6   19001      97    8300

In [127]:
df['glu1_r'] = (df['진짜 전단계']/df['전체 카운트']*100).round(2)

In [128]:
df['glu2_r'] = (df['당뇨 카운트']/df['전체 카운트']*100).round(2)

In [129]:
df['glu_totr'] = df.glu1_r+df.glu2_r

In [130]:
df

     bmi      학력   지역  전체 카운트  당뇨 카운트  진짜 전단계  glu1_r  glu2_r  glu_totr
0   비만체중  4년제 미만  지역1   40394     899   14853   36.77    2.23     39.00
1   비만체중  4년제 미만  지역2   28907     977   11706   40.50    3.38     43.88
2   비만체중  4년제 미만  지역3   46433    1535   20841   44.88    3.31     48.19
3   비만체중  4년제 미만  지역4   44722    1195   21311   47.65    2.67     50.32
4   비만체중  4년제 미만  지역5   37825    1376   15597   41.23    3.64     44.87
5   비만체중  4년제 미만  지역6   14255     308    4680   32.83    2.16     34.99
6   비만체중  4년제 이상  지역1   46050     636   14918   32.40    1.38     33.78
7   비만체중  4년제 이상  지역2   33326     717   12407   37.23    2.15     39.38
8   비만체중  4년제 이상  지역3   39072     811   16523   42.29    2.08     44.37
9   비만체중  4년제 이상  지역4   57306     948   26762   46.70    1.65     48.35
10  비만체중  4년제 이상  지역5   45088    1001   20331   45.09    2.22     47.31
11  비만체중  4년제 이상  지역6   19627     240    7078   36.06    1.22     37.28
12  정상체중  4년제 미만  지역1   34984     246   10419   29.78    0.70     30.48
13  정상체중  4년제 미만  지역2   25033     301    8533   34.09    1.20     35.29
14  정상체중  4년제 미만  지역3   40624     512   15000   36.92    1.26     38.18
15  정상체중  4년제 미만  지역4   37151     375   16183   43.56    1.01     44.57
16  정상체중  4년제 미만  지역5   32487     461   15782   48.58    1.42     50.00
17  정상체중  4년제 미만  지역6   12883      74    5343   41.47    0.57     42.04
18  정상체중  4년제 이상  지역1   43031     209   11079   25.75    0.49     26.24
19  정상체중  4년제 이상  지역2   31486     306    9825   31.20    0.97     32.17
20  정상체중  4년제 이상  지역3   35971     343   12579   34.97    0.95     35.92
21  정상체중  4년제 이상  지역4   51541     390   21365   41.45    0.76     42.21
22  정상체중  4년제 이상  지역5   42933     434   20148   46.93    1.01     47.94
23  정상체중  4년제 이상  지역6   19001      97    8300   43.68    0.51     44.19

In [131]:
regions = '서울 수원강원 경기북부인천 부산경북전북 경남충청제주 전남'.split(' ')

In [132]:
df['지역'].unique()

array(['지역1', '지역2', '지역3', '지역4', '지역5', '지역6'], dtype=object)

In [133]:
df['지역'].replace(['지역1', '지역2', '지역3', '지역4', '지역5', '지역6'], regions, inplace=True)

In [202]:
df[df['지역'] == '전남']

     bmi      학력  지역  전체 카운트  당뇨 카운트  진짜 전단계  glu1_r  glu2_r  glu_totr
5   비만체중  4년제 미만  전남   14255     308    4680   32.83    2.16     34.99
11  비만체중  4년제 이상  전남   19627     240    7078   36.06    1.22     37.28
17  정상체중  4년제 미만  전남   12883      74    5343   41.47    0.57     42.04
23  정상체중  4년제 이상  전남   19001      97    8300   43.68    0.51     44.19

In [208]:
sr = 100- df[df['지역'] == '전남']['glu1_r'] - df[df['지역'] == '전남']['glu2_r']
sr

5     65.01
11    62.72
17    57.96
23    55.81
dtype: float64

In [209]:
df.loc[[5, 11, 17, 23], ['glu1_r']] = sr

In [210]:
df.loc[[5, 11, 17, 23], ['glu1_r']]

    glu1_r
5    65.01
11   62.72
17   57.96
23   55.81

In [235]:
df.loc[[5, 11, 17, 23], 'glu_totr']  = df.loc[[5, 11, 17, 23], 'glu1_r'] + df.loc[[5, 11, 17, 23], 'glu2_r']

In [236]:
df1 = df[['bmi', '학력', '지역', 'glu_totr']].copy()

In [237]:
df1

     bmi      학력      지역  glu_totr
0   비만체중  4년제 미만      서울     39.00
1   비만체중  4년제 미만    수원강원     43.88
2   비만체중  4년제 미만  경기북부인천     48.19
3   비만체중  4년제 미만  부산경북전북     50.32
4   비만체중  4년제 미만  경남충청제주     44.87
5   비만체중  4년제 미만      전남     67.17
6   비만체중  4년제 이상      서울     33.78
7   비만체중  4년제 이상    수원강원     39.38
8   비만체중  4년제 이상  경기북부인천     44.37
9   비만체중  4년제 이상  부산경북전북     48.35
10  비만체중  4년제 이상  경남충청제주     47.31
11  비만체중  4년제 이상      전남     63.94
12  정상체중  4년제 미만      서울     30.48
13  정상체중  4년제 미만    수원강원     35.29
14  정상체중  4년제 미만  경기북부인천     38.18
15  정상체중  4년제 미만  부산경북전북     44.57
16  정상체중  4년제 미만  경남충청제주     50.00
17  정상체중  4년제 미만      전남     58.53
18  정상체중  4년제 이상      서울     26.24
19  정상체중  4년제 이상    수원강원     32.17
20  정상체중  4년제 이상  경기북부인천     35.92
21  정상체중  4년제 이상  부산경북전북     42.21
22  정상체중  4년제 이상  경남충청제주     47.94
23  정상체중  4년제 이상      전남     56.32

In [238]:
df2 = df1.sort_values('glu_totr')

In [239]:
df2

     bmi      학력      지역  glu_totr
18  정상체중  4년제 이상      서울     26.24
12  정상체중  4년제 미만      서울     30.48
19  정상체중  4년제 이상    수원강원     32.17
6   비만체중  4년제 이상      서울     33.78
13  정상체중  4년제 미만    수원강원     35.29
20  정상체중  4년제 이상  경기북부인천     35.92
14  정상체중  4년제 미만  경기북부인천     38.18
0   비만체중  4년제 미만      서울     39.00
7   비만체중  4년제 이상    수원강원     39.38
21  정상체중  4년제 이상  부산경북전북     42.21
1   비만체중  4년제 미만    수원강원     43.88
8   비만체중  4년제 이상  경기북부인천     44.37
15  정상체중  4년제 미만  부산경북전북     44.57
4   비만체중  4년제 미만  경남충청제주     44.87
10  비만체중  4년제 이상  경남충청제주     47.31
22  정상체중  4년제 이상  경남충청제주     47.94
2   비만체중  4년제 미만  경기북부인천     48.19
9   비만체중  4년제 이상  부산경북전북     48.35
16  정상체중  4년제 미만  경남충청제주     50.00
3   비만체중  4년제 미만  부산경북전북     50.32
23  정상체중  4년제 이상      전남     56.32
17  정상체중  4년제 미만      전남     58.53
11  비만체중  4년제 이상      전남     63.94
5   비만체중  4년제 미만      전남     67.17

In [240]:
g1 = df2.groupby(by=['지역', 'bmi', '학력'])

In [241]:
df3 = g1.describe()['glu_totr'][['mean']]

In [242]:
df4 = df3.sort_values('mean')

In [243]:
df4

                     mean
지역     bmi  학력
서울     정상체중 4년제 이상  26.24
            4년제 미만  30.48
수원강원   정상체중 4년제 이상  32.17
서울     비만체중 4년제 이상  33.78
수원강원   정상체중 4년제 미만  35.29
경기북부인천 정상체중 4년제 이상  35.92
            4년제 미만  38.18
서울     비만체중 4년제 미만  39.00
수원강원   비만체중 4년제 이상  39.38
부산경북전북 정상체중 4년제 이상  42.21
수원강원   비만체중 4년제 미만  43.88
경기북부인천 비만체중 4년제 이상  44.37
부산경북전북 정상체중 4년제 미만  44.57
경남충청제주 비만체중 4년제 미만  44.87
            4년제 이상  47.31
       정상체중 4년제 이상  47.94
경기북부인천 비만체중 4년제 미만  48.19
부산경북전북 비만체중 4년제 이상  48.35
경남충청제주 정상체중 4년제 미만  50.00
부산경북전북 비만체중 4년제 미만  50.32
전남     정상체중 4년제 이상  56.32
            4년제 미만  58.53
       비만체중 4년제 이상  63.94
            4년제 미만  67.17

In [218]:
2*2*6

24

# 저장자저자어아

df4.to_pickle('./병무청그룹.pkl')

In [245]:
df5 = pd.read_pickle('./병무청그룹.pkl')

In [246]:
df5.rename(columns={'mean':'dbr'}, inplace=True)

In [247]:
df5.dbr.values

array([26.24, 30.48, 32.17, 33.78, 35.29, 35.92, 38.18, 39.  , 39.38,
       42.21, 43.88, 44.37, 44.57, 44.87, 47.31, 47.94, 48.19, 48.35,
       50.  , 50.32, 56.32, 58.53, 63.94, 67.17])

In [248]:
np.append(df5.dbr.values[1:], np.array([50.32]))

array([30.48, 32.17, 33.78, 35.29, 35.92, 38.18, 39.  , 39.38, 42.21,
       43.88, 44.37, 44.57, 44.87, 47.31, 47.94, 48.19, 48.35, 50.  ,
       50.32, 56.32, 58.53, 63.94, 67.17, 50.32])

In [249]:
df5['tmp'] = np.append(df5.dbr.values[1:], np.array([50.32]))

In [250]:
df5['subs'] = df5.tmp - df5.dbr

In [251]:
df5.subs.describe()

count    24.000000
mean      1.003333
std       4.132616
min     -16.850000
25%       0.365000
50%       1.560000
75%       2.305000
max       6.000000
Name: subs, dtype: float64

In [252]:
df5['eee'] = df5.subs//1.62

In [253]:
df5.count()

dbr     24
tmp     24
subs    24
eee     24
dtype: int64

In [254]:
df5['order'] = list(range(24))

In [255]:
df5[['dbr', 'eee', 'order']]

                      dbr   eee  order
지역     bmi  학력
서울     정상체중 4년제 이상  26.24   2.0      0
            4년제 미만  30.48   1.0      1
수원강원   정상체중 4년제 이상  32.17   0.0      2
서울     비만체중 4년제 이상  33.78   0.0      3
수원강원   정상체중 4년제 미만  35.29   0.0      4
경기북부인천 정상체중 4년제 이상  35.92   1.0      5
            4년제 미만  38.18   0.0      6
서울     비만체중 4년제 미만  39.00   0.0      7
수원강원   비만체중 4년제 이상  39.38   1.0      8
부산경북전북 정상체중 4년제 이상  42.21   1.0      9
수원강원   비만체중 4년제 미만  43.88   0.0     10
경기북부인천 비만체중 4년제 이상  44.37   0.0     11
부산경북전북 정상체중 4년제 미만  44.57   0.0     12
경남충청제주 비만체중 4년제 미만  44.87   1.0     13
            4년제 이상  47.31   0.0     14
       정상체중 4년제 이상  47.94   0.0     15
경기북부인천 비만체중 4년제 미만  48.19   0.0     16
부산경북전북 비만체중 4년제 이상  48.35   1.0     17
경남충청제주 정상체중 4년제 미만  50.00   0.0     18
부산경북전북 비만체중 4년제 미만  50.32   3.0     19
전남     정상체중 4년제 이상  56.32   1.0     20
            4년제 미만  58.53   3.0     21
       비만체중 4년제 이상  63.94   1.0     22
            4년제 미만  67.17 -11.0     23

In [258]:
df5[['dbr', 'order']]

                      dbr  order
지역     bmi  학력
서울     정상체중 4년제 이상  26.24      0
            4년제 미만  30.48      1
수원강원   정상체중 4년제 이상  32.17      2
서울     비만체중 4년제 이상  33.78      3
수원강원   정상체중 4년제 미만  35.29      4
경기북부인천 정상체중 4년제 이상  35.92      5
            4년제 미만  38.18      6
서울     비만체중 4년제 미만  39.00      7
수원강원   비만체중 4년제 이상  39.38      8
부산경북전북 정상체중 4년제 이상  42.21      9
수원강원   비만체중 4년제 미만  43.88     10
경기북부인천 비만체중 4년제 이상  44.37     11
부산경북전북 정상체중 4년제 미만  44.57     12
경남충청제주 비만체중 4년제 미만  44.87     13
            4년제 이상  47.31     14
       정상체중 4년제 이상  47.94     15
경기북부인천 비만체중 4년제 미만  48.19     16
부산경북전북 비만체중 4년제 이상  48.35     17
경남충청제주 정상체중 4년제 미만  50.00     18
부산경북전북 비만체중 4년제 미만  50.32     19
전남     정상체중 4년제 이상  56.32     20
            4년제 미만  58.53     21
       비만체중 4년제 이상  63.94     22
            4년제 미만  67.17     23

In [256]:
li_edge = df5[df5.eee > 0].order.values

In [257]:
li_edge

array([ 0,  1,  5,  8,  9, 13, 17, 19, 20, 21, 22], dtype=int64)